<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/header :: header">
    <!-- Title  -->
    <div th:replace="~{fragment/header :: title ('Coke Shop | Item-Details')}"></div>
</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div th:replace="fragment/search :: search"/>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div th:replace="fragment/mobileNav :: mobileNav"/>

        <!-- Header Area Start -->
        <th:block th:if="${#session} == null">
            <div th:replace="fragment/bodyHeader :: bodyHeader"></div>
        </th:block>
        <th:block th:unless="${#session} == null">
            <div th:replace="fragment/loginBodyHeader :: loginBodyHeader"></div>
        </th:block>
        <!-- Header Area End -->

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="#" th:href="@{/shop/{categoryId}(categoryId=${categoryId})}" th:text="${category.name}">카테고리명</a></li>
                                <li class="breadcrumb-item active" aria-current="page" th:text="${item.name}">상품명</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" th:src="${item.itemImg}">
                                            <img class="d-block w-100" th:src="${item.itemImg}" alt="First slide">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price" th:text="${item.price}">상품 가격</p>
                                <a href="#" th:href="@{/shop/{categoryId}/{itemId}(itemId=${item.id}, categoryId=${item.getItemCategoryId()})}">
                                    <h6 th:text="${item.name}">상품명</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="review">
                                        <a href="#" th:href="@{/shop/{itemId}/review (itemId=${item.id})}">REVIEW</a>
                                    </div>
                                </div>
                                <!-- Avaiable -->
                                <p class="avaibility" th:if="${item.itemStatus} == ${T(com.shoppingmall.domain.enums.ItemStatus).SALE}" th:text="${item.itemStatus.getStatus()}"><i class="fa fa-circle"></i>판매중</p>
                                <p class="avaibility" th:if="${item.itemStatus} == ${T(com.shoppingmall.domain.enums.ItemStatus).TEMPSOLDOUT}" th:text="${item.itemStatus.getStatus()}"><i class="fa fa-circle"></i>일시품절</p>
                                <p class="avaibility" th:if="${item.itemStatus} == ${T(com.shoppingmall.domain.enums.ItemStatus).SOLDOUT}" th:text="${item.itemStatus.getStatus()}"><i class="fa fa-circle"></i>품절</p>
                            </div>

                            <div class="short_overview my-5">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae eveniet culpa officia quidem mollitia impedit iste asperiores nisi reprehenderit consequatur, autem, nostrum pariatur enim?</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form th:action="@{/cart/{itemId}/add (itemId=${item.id})}" class="cart clearfix" method="post">
                                <div class="cart-btn d-flex mb-50">
                                    <p>Qty</p>
                                    <div class="quantity">
                                        <span class="qty-minus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) effect.value--;return false;"><i class="fa fa-caret-down" aria-hidden="true"></i></span>
                                        <input type="number" class="qty-text" id="qty" step="1" min="1" th:max="${item.stockQuantity}" name="quantity" value="1">
                                        <span class="qty-plus" onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i class="fa fa-caret-up" aria-hidden="true"></i></span>
                                    </div>
                                </div>
                                <button th:if="${item.itemStatus} == ${T(com.shoppingmall.domain.enums.ItemStatus).SALE}" type="submit" name="addtocart" value="5" class="btn amado-btn">Add to cart</button>
                                <button th:if="${item.itemStatus} == ${T(com.shoppingmall.domain.enums.ItemStatus).TEMPSOLDOUT}" type="submit" name="addtocart" value="5" class="btn amado-btn" disabled>Add to cart</button>
                                <button th:if="${item.itemStatus} == ${T(com.shoppingmall.domain.enums.ItemStatus).SOLDOUT}" type="submit" name="addtocart" value="5" class="btn amado-btn" disabled>Add to cart</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <div th:replace="fragment/footer :: footer"/>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/js/plugins.js"></script>
    <!-- Active js -->
    <script src="/js/active.js"></script>

</body>

</html>